body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
  }
  
  .form-container {
    border: 1px solid red;
    max-width: 200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
    /* border: 1px solid green; */
  }
  
  label {
    /* border: 1px solid blue; */
    width: 30%;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    

  }
  
  input[type="text"],
  input[type="password"],
  select {
    width: 30%;
    padding: 10px;
    border: 1px solid #121010;
    border-radius: 5px;
    box-sizing: border-box;
    
  }
  
  input[type="submit"] {
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  
    
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
    
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .form-container {
      padding: 15px;
      max-width: 100%;
    }
  
    h1 {
      font-size: 24px;
      margin-bottom: 15px;
    }
  
    input[type="text"],
    input[type="password"],
    select {
      padding: 8px;
    }
  
    input[type="submit"] {
      font-size: 14px;
    }
  }
  